// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from 'node_modules' and 'bower_components'
// thanks to Stylus' 'import css' and 'paths' options

@import 'normalizecss/normalize.css'

@import 'prism/themes/prism-funky.css'
// Check out 'bower_components/prism/themes/' for available themes

@require 'fonts'

@font-face
  font-family 'SutonnyMJ'
  src url(../fonts/SUTOM___.TTF) format('truetype')

@font-face
  font-family 'Bangla MN'
  src url('../fonts/Bangla MN.ttc') format('truetype')

avro-color  = #ffa645
flux-color  = #44b74a
im-js-color = #6dbcdb
bg-color    = #222222
flux-bg     = #3b3738
flux-bg-lt  = #4f4e50
flux-bg-alt = #318435
white       = #e9e9e9
link-color  = #3387e2

font-family = 'Bangla MN', 'Siyam Rupali', proxima-nova, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif

en-font-family = proxima-nova, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif

slide_width = 640px
slide_height = 480px
slide_background = transparent

slide_transition_length = .6s
slide_transition_easing = ease
slide_transition_rotate_y = 20deg

// Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -640px

bullet_transition_length = .3s
bullet_transition_easing = ease

spacer_gif = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'


// base
*
  box-sizing border-box
  margin 0
  padding 0

@page
  size landscape
  margin 0

.en
  font-family en-font-family

code, code[class*='language-'], pre[class*='language-']
  font-family source-code-pro, Consolas, Monaco, 'Andale Mono', monospace

article
  transition all .3s ease
  display none
  &.bespoke-parent
    display block
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    overflow hidden
    perspective 600px

.bespoke-slide
  transition:
    transform slide_transition_length slide_transition_easing,
    opacity slide_transition_length slide_transition_easing,
    background slide_transition_length slide_transition_easing
  transform-origin 50% 50% 0
  transform translate3d(0,0,0)
  backface-visibility hidden
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center
  width slide_width
  height slide_height
  position absolute
  top 50%
  margin-top (slide_height / 2) * -1
  left 50%
  margin-left (slide_width / 2) * -1
  background slide_background
  padding 40px
  border-radius 0
  z-index 2

.bespoke-before
  transform translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) rotateY(slide_transition_rotate_y * -1) translateX(slide_width / -2)

.bespoke-after
  transform translateX(slide_transition_nudge_x) translateX(slide_width / 2) rotateY(slide_transition_rotate_y) translateX(slide_width / 2)

.bespoke-inactive
  opacity 0
  pointer-events none

.bespoke-active
  opacity 1
  transition-delay .2s

// bespoke-bullet styles

.bespoke-bullet
  transition all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity 0
  li&
    transform translateX(-10px) translateZ(-10px) rotateY(20deg)

.bespoke-bullet-active
  opacity 1

// bespoke-scale styles

.bespoke-scale-parent
  perspective 600px
  position absolute
  top 0
  left 0
  right 0
  bottom 0

// bespoke-progress styles

.bespoke-progress-parent
  position absolute
  top 0
  left 0
  right 0
  height 5px
  @media only screen and (min-width 1366px)
    height 10px

.bespoke-progress-bar
  z-index 1000
  transition width .6s ease
  position absolute
  height 100%
  background white
  .avro &
    background avro-color

.emphatic
  background #222

.emphatic-text
  color white

// Custom CSS
html, body, article, section
  height 100%

body
  font-family font-family
  font-weight 300
  font-size 18px
  -webkit-font-smoothing antialiased;

html
  font-family font-family
  color       avro-color
  background  bg-color

h1
  font-size   72px
  font-weight 400
  margin      10px
  &.fat
    font-weight 600
    letter-spacing 6px

h2
  font-size   36px
  font-weight 400
  margin-bottom 20px

h3
  font-size       27px
  font-weight     400
  letter-spacing  -1px

.pad
  padding-bottom 30px

.caps
  text-transform uppercase
  font-weight 500

.invert
  color bg-color

.white
  color white

a
  color link-color
  text-decoration none

ul
  list-style none
  font-size 24px

li
  margin-bottom 12px

article
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  &.white
    background-size 50%
    background #fff url('../images/thinking-react.png') no-repeat center center
  &:before
    display block
    position absolute
    background-size cover
    background-position center center
    background-repeat no-repeat
    content ''
    z-index 1
    width 20%
    height 20%
    top 50%
    left 50%
    margin-top -5%
    margin-left -10%
    transform scale(5.5)
    -webkit-filter blur(1px) brightness(0.5)

.avatar
  display block
  margin 10px auto
  width 120px
  height 120px
  border-radius 120px
  &--small
    width 70px
    height 70px
sup
  vertical-align super

.split
  display flex
  width 100%
  &.matrix
    flex-flow row wrap
    div
      font-size 30px
      line-height 1.4
      flex 1 0 60px
  div
    flex 1 0
    font-size 120px
    text-align center
    &.bn
      font-size 180px
      font-family 'SutonnyMJ'
    &.sep
      border-right 2px solid avro-color
    &.small
      margin-top 40px
      line-height 180px
      font-size 80px

.mt20
  margin-top 20px
