doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Bangla Font

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-state='avro')
        h1 বাংলা ফন্ট

      section(data-bespoke-state='avro')
        h2 বাংলা ফন্টের প্রকারভেদ
        ul.bullet
          li ANSI ফন্ট
          li ইউনিকোড ফন্ট

      section(data-bespoke-state='avro')
        h2 ANSI ফন্ট
        ul.bullet
          li ৮ বিট
          li ২৫৬ টি গ্লিফ *

      section(data-bespoke-state='avro')
        h2 ANSI ফন্টের সমস্যা
        ul.bullet
          li Imposter
          li গ্লিফের অভাব
          li এনকোডিংয়ের  আধিক্য

      section(data-bespoke-state='avro')
        div.split
          div.bn.sep K
          div.mt20 K

      section(data-bespoke-state='avro')
        div.split
          div.bn.sep ›`«
          div.mt20 ›`«

      section(data-bespoke-state='avro')
        div.split
          div.bn.sep ›`«
          div ন্দ্র

      section(data-bespoke-state='avro')
        div.split
          div.bn ›
          div.small +
          div.bn `
          div.small +
          div.bn &nbsp;«

      section(data-bespoke-state='avro')
        div.split
          div.bn.sep ¤¢
          div ম্ভ

      section(data-bespoke-state='avro')
        div.split
          div.bn ¤
          div.small +
          div.bn &nbsp;¢

      section(data-bespoke-state='avro')
        div.split
          div.bn.sep &nbsp;ª
          div.bn.sep &nbsp;«
          div.bn &nbsp;Ö

      section(data-bespoke-state='avro')
        h1 ইউনিকোড ফন্ট

      section(data-bespoke-state='avro')
        div.split.matrix
          div ক্ক
          div ক্ট
          div ক্ত
          div ক্ব
          div ক্ম
          div ক্র
          div ক্ল
          div ক্ষ
          div ক্ষ্ম
          div ক্স
          div গ্ধ
          div গ্ন
          div গ্ব
          div গ্ম
          div গ্ল
          div ঘ্ন
          div ঙ্ক
          div ঙ্ক্ষ
          div ঙ্গ
          div ঙ্ঘ
          div ঙ্ম
          div চ্ছ
          div চ্ছ্ব
          div চ্ঞ
          div জ্জ
          div জ্জ্ব
          div জ্ঝ
          div জ্ঞ
          div জ্ব
          div ঞ্চ
          div ঞ্ছ
          div ঞ্ঝ
          div ট্ট
          div ট্ব
          div ণ্ট
          div ণ্ঠ
          div ণ্ড
          div ণ্ণ
          div ণ্ম
          div ত্ত
          div ত্ত্ব
          div ত্থ
          div ত্ন
          div ত্ব
          div ত্ম
          div ত্র
          div দ্দ
          div দ্ধ
          div দ্ব
          div ন্ট
          div ন্ড
          div ন্ত
          div ন্ত্ব
          div ন্ত্র
          div ন্দ
          div ন্দ্র
          div ন্ধ
          div ন্ধ্র
          div ন্ন
          div ন্ব
          div ন্স
          div প্ট
          div প্ত
          div প্ন
          div প্প
          div প্ল
          div প্স
          div ফ্ল
          div ভ্র
          div ত্ল
          div ম্ন
          div ম্ফ
          div ম্ব
          div ম্ল
          div ল্ট
          div ল্ড
          div ল্ব
          div ল্ল
          div শ্চ
          div ষ্ক
          div ষ্ট
          div ষ্ণ
          div স্ক্র
          div স্ত
          div স্ত্র
          div স্ব
          div হ্ন
          div হ্ম
          div হ্ব
          div হ্ল

      section(data-bespoke-state='avro')
        h2 ইউনিকোড ফন্টের সমস্যা
        ul.bullet
          li ফ্রি ফন্টের অভাব
          li সফটওয়্যারের সমর্থন

      section(data-bespoke-state='avro')
        h1 সম্ভাব্য সমাধান

      section(data-bespoke-state='avro')
        h2 সহযোগ 
        h3 (Collaboration)

      section(data-bespoke-state='avro')
        h2 বাণিজ্যিকিকরন
        h3 (Commercialization)

      section(data-bespoke-state='avro')
        h1 ধন্যবাদ
        h3
          a.en.twitter(href='https://twitter.com/rifat') @rifat </br>
          a.en.fb(href='https://fb.me/rifat') fb.me/rifat
        img.avatar.avatar--small(src='images/avro.png')

    script(src='build/build.js')
